a
{
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
a:hover{
  color: yellow;
}
body
{
  background-color: gold;
  border: 20px solid red;
}
.last
{
  background-color: #C7E9B0;
}
.two
{
  float: right;

}
.one{
  float: left;
}
